# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the 
# most precedence.

# Secondary repo maintainers, substitutes of the primary
# maintainers when they become MIA
*       @mtps @jdfigure

# Primary repo maintainers
*       @iramiller @channa-figure @nullpointer0x00 @dwedul-figure @arnabmitra @derekadams @egaxhaj-figure @egaxhaj @taztingo


