name: Docker Build and Push
# Build & Push builds the simapp docker image on every push to master
# and pushes the image to https://hub.docker.com/u/provenanceio
on:
  pull_request:
    paths:
      - docker/blockchain/Dockerfile
      - .github/workflows/docker.yml
  push:
    branches:
      - main
    tags:
      - '**'

env:
  DOCKER_IMAGE: "provenanceio/provenance"

# Set concurrency for this workflow to cancel in-progress jobs if retriggered.
# The github.ref is only available when triggered by a PR so fall back to github.run_id for other cases.
# The github.run_id is unique for each run, giving each such invocation it's own unique concurrency group.
# Basically, if you push to a PR branch, jobs that are still running for that PR will be cancelled.
# But jobs started because of a merge to main or a release tag push are not cancelled.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
jobs:
  heighliner-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/setup-qemu-action@v3

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.DOCKER_IMAGE }}
          flavor: |
            prefix=heighliner-,onlatest=true
          tags: |
            type=edge
            type=ref,event=pr
            type=ref,event=tag

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: strangelove-ventures/heighliner-build-action@main
        with:
          heighliner-tag: v1.5.5
          chain: provenance
          local: true
          tag: ${{ steps.meta.outputs.version }}
          registry: provenanceio
          dockerfile: cosmos
          build-target: |
            cd ..
            make install
          binaries: |
            - /go/bin/provenanced
# override WASMVM_REPO since github.com/CosmWasm/wasmvs/v2 path doesn't exist in github
          build-env: |
            - "WITH_LEDGER=false"
            - "WITH_CLEVELDB=false"
            - "BUILD_TAGS=muslc musl dynamic"
            - "WASMVM_REPO=github.com/CosmWasm/wasmvm"
          additional-args: "--alpine-version 3.18"
          skip: ${{ github.event_name == 'pull_request' }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - run: go mod vendor

      - uses: docker/setup-buildx-action@v3

      - uses: docker/setup-qemu-action@v3

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.DOCKER_IMAGE }}
          tags: |
            type=edge
            type=ref,event=pr
            type=ref,event=tag

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          target: run
          build-args: |
            VERSION=${{ steps.meta.outputs.version }}
          platforms: linux/amd64,linux/arm64
          file: docker/blockchain/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
