name: Lint
# This workflow is run on every pull request and push to main
# The `golangci` will pass without running if no *.{go, mod, sum} files have been changed.
on:
  pull_request:
  push:
    branches:
      - main

# concurrency is not defined in here because this job usually doesn't
# run long enough to need cancelling, and it's okay for it to run multiple
# times for the same PR.

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
            .github/workflows/lint.yml
            scripts/no-now-lint.sh
            .changelog/lint-unreleased.sh
            .changelog/unreleased/**
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version-file: 'go.mod'
      - uses: golangci/golangci-lint-action@v8
        if: env.GIT_DIFF
        with:
          # If you change this version, be sure to also change it in contrib/devtools/Makefile.
          version: v2.1.6
          args: --timeout 10m --output.text.colors colored-line-number
          github-token: ${{ secrets.github_token }}
          verify: false
      - name: No Now Usage
        if: env.GIT_DIFF
        run: scripts/no-now-lint.sh
      - name: Unreleased Changelog Content
        if: env.GIT_DIFF
        run: .changelog/lint-unreleased.sh
