name: Protobuf lint
# Protobuf lint runs `buf lint` and `buf breaking` against https://buf.build/provenance-io repository.
# This workflow is only run when a .proto file has been changed.
on:
  push
#  pull_request:
#    paths:
#      - "**/**.proto"
jobs:
  env_init:
    runs-on: ubuntu-latest
    name: Define Variables
    outputs:
      go_version: "1.17"

  buf_lint:
    runs-on: ubuntu-latest
    needs:
      - env_init
    name: Buf lint
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.env_init.outputs.go_version }}
      - name: Protobuf third_party update check
        run: make proto-update-check
      - name: Protobuf lint
        uses: bufbuild/buf-setup-action@v1.4.0
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: 'proto'
      - name: Protobuf check breaking proto/
        uses: bufbuild/buf-breaking-action@v1
        with:
          input: 'proto'
          # The 'main' branch of the GitHub repository that defines the module.
          against: 'buf.build/provenance-io/provenance'
      - name: Protobuf check breaking third_party/proto
        uses: bufbuild/buf-breaking-action@v1
        with:
          input: 'third_party/proto'
          # The 'main' branch of the GitHub repository that defines the module.
          against: 'buf.build/provenance-io/third-party'
