name: Protobuf push
# Protobuf push runs buf (https://buf.build/) lint and check-breakage
# This workflow is only run on a merge to the 'main' branch (after all proto checks have passed)
on:
  push:
    branches:
      - 'main'

jobs:
  buf_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Buf setup action
        uses: bufbuild/buf-setup-action@v1.6.0
      - name: Buf push 'proto/'
        uses: bufbuild/buf-push-action@v1
        with:
          input: 'proto'
          buf_token: ${{ secrets.BUF_TOKEN }}
      - name: Buf push 'third_party/proto'
        uses: bufbuild/buf-push-action@v1
        with:
          input: 'third_party/proto'
          buf_token: ${{ secrets.BUF_TOKEN }}
