name: Protobuf Checks
# This workflow runs some Protobuf related checks.
on:
  pull_request:
    paths:
      - "**/**.proto"
      - "**/go.mod"
      - ".github/workflows/proto.yml"

jobs:
  buf_lint:
    runs-on: ubuntu-latest
    name: Protobuf Checks
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: bufbuild/buf-setup-action@v1.7.0
      - uses: bufbuild/buf-lint-action@v1
        if: always()
        with:
          input: 'proto'
      - uses: bufbuild/buf-breaking-action@v1
        if: always()
        with:
          input: 'proto'
          # The 'main' branch of the GitHub repository that defines the module.
          against: 'buf.build/provenance-io/provenance'
      - name: third_party breaking
        if: always()
        uses: bufbuild/buf-breaking-action@v1
        with:
          input: 'third_party/proto'
          # The 'main' branch of the GitHub repository that defines the module.
          against: 'buf.build/provenance-io/third-party'
      - name: proto-update-check
        if: always()
        run: |
          if [ -n "$GITHUB_BASE_REF" ]; then
            BASE_BRANCH="..origin/$GITHUB_BASE_REF"
            printf 'BASE_BRANCH: [%s]\n' "$BASE_BRANCH"
            export BASE_BRANCH
          fi
          make proto-update-check
